<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Actors Page</title>

    <link rel="stylesheet" th:href="@{/css/show_data.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

<nav>
    <p th:if="${success}" th:text="${success}" class="success-msg"></p>
    <p th:if="${error}" th:text="${error}" class="error-msg"></p>
</nav>
<!-- ================= FORM ================= -->
<form th:action="@{/actor/register}" th:object="${actor}" method="post"> 

    <input type="text" th:field="*{actorName}" placeholder="Enter Your Name"><br>
    <input type="text" th:field="*{address}" placeholder="Enter Your Address"><br>
    <input type="text" th:field="*{fees}" placeholder="Enter Your Fees"><br>
    <input type="text" th:field="*{category}" placeholder="Enter Your Category"><br>

    <input type="submit" value="Register"><br>
</form>

<!-- ================= TABLE ================= -->
<h2>All Actors List</h2>

<table border="2">

<tr>
   <th>Name</th>
   <th>Address</th>
   <th>Fee</th>
   <th>Category</th>
   <th>Delete</th>
   <th>edit</th>
</tr>

<tr th:each="actor : ${actorList}">
    <td th:text="${actor.actorName}"></td>
    <td th:text="${actor.address}"></td>
    <td th:text="${actor.fees}"></td>
    <td th:text="${actor.category}"></td>

    <td>
        <form th:action="@{/actor/delete}" method="post">
            <input type="hidden" name="id" th:value="${actor.actorId}">
            <button type="submit">
                <i class="fa-solid fa-delete-left"></i>
            </button>  
        </form>
    </td>
    <td>
       <a th:href="@{/actor/edit(id=${actor.actorId})}">
    <button type="button">
        <i class="fa-solid fa-pen-to-square"></i>
    </button>
</a>
    </td>
</tr>

</table>

</body>
</html>