<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">My Page</title>

    <!-- Link CSS from static/css -->
     <link rel="stylesheet" th:href="@{/css/show_report.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link rel="stylesheet" href="show_report.css">
</head>
<body>

<table border="2">
<tr>
<th class="id-col">Id</th>
<th class="name-col">Name</th>
<th class="address-col">address</th>
<th class="fee-col">fee</th>
<th class="category-col">category</th>
</tr>
    <tr th:each="actor : ${listActors}">
        <td th:text="${actor.actorId}"></td>
        <td th:text="${actor.actorName}"></td>
        <td th:text="${actor.address}"></td>
        <td th:text="${actor.fees}"></td>
        <td th:text="${actor.category}"></td>
    </tr>     
</table>
   
</body>
</html>