<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <title>Welcome</title>
</head>
<body>

<h1>Welcome to Spring MVC</h1>

<form th:action="@{/season/months}" method="post">
    <input type="text" name="seasonName" placeholder="Enter season">
    <button type="submit">Find Months</button>
</form>


<a th:href="@{/season/current}">Show Current Season</a>

<br>

<h1>
  Output: 
  <span th:text="${seasonName} ?: 'No data yet'"></span>
</h1>
</body>
</html>